@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@300;400;700&display=swap');

:root {
    --opensans : "Open Sans", sans-serif;
    --raleway : "Raleway", sans-serif;
    --orange: #FF8B38;
    --gray: #CCCCCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--raleway);
}

* a {
    text-decoration: none;
}

header {
    width: 100%;
    background-color: black;
}

section {
    padding: 0 20%;
}

header section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 1vh 20%;
}

header section nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    width: 100%;
}

header section nav ul li a {
    display: block;
    text-align: center;
    color: var(--gray);
    font-family: var(--opensans);
}

header section nav ul li a:hover {
    color: var(--orange);
}

header section nav ul li {
    transition: all 0.2s;
}

header section nav ul li:hover {
    transform: scale(1.2);
}

header .logo {
    color: white;
    font-weight: 700;
    font-size: 40px;
    font-family: var(--opensans);
}

header .logo span {
    color: var(--orange);
    font-weight: 300;
    font-size: 40px;
    font-family: var(--opensans);
}

main .free-trial-form {
    background:
        linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
        url(img/custom-bg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

main .free-trial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 700px;
    align-items: center;
    column-gap: 2vh;
    padding: 5vh 0;
}

main .free h1 {
    color: white;
    font-weight: 700;
    font-size: 90px;
    font-family: var(--opensans);
}

main .free span {
    color: var(--orange);
    font-weight: 300;
    font-size: 90px;
    font-family: var(--opensans);
}

main .free h2 {
    color: white;
    font-family: var(--raleway);
    font-weight: 400;
    font-size: 35px;
    padding-bottom: 3vh;
}

main .free hr {
    border: 2px solid white;
    width: 100px;
}

main .free p {
    padding-top: 3vh;
    color: var(--gray);
    font-family: var(--opensans);
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    padding-bottom: 5vh;
}

main .free .download a {
    border: 3px solid white;
    color: white;
    padding: 10px 30px;
    font-family: var(--opensans);
}

main .free .download a:hover {
    border-color: var(--orange);
    color: var(--orange);
}

main .trial {
    display: grid;
    justify-content: end;
    grid-template-columns: 1fr 2fr;
}

main .trial div {
    border-radius: 2%;
    background-color: white;
    grid-column: 2/3;
    border-radius: 10px;
}

main .trial div h3 {
    font-family: var(--opensans);
    font-size: 20px;
    font-weight: bold;
    background-color: #F5F5F5;
    text-align: center;
    padding: 3vh 0;
    color: black;
    border-radius: 10px 10px 0 0;
}

main .trial div h3 span {
    color: var(--orange);
    font-size: 20px;
}

main .trial form {
    padding-top: 4vh;
    text-align: center;
}

main .trial form input {
    height: 6vh;
    padding-left: 30px;
    margin: 10px 0;
    width: 80%;
    border: none;
    border-bottom: 1px solid #F5F5F5;
}

main .trial form button {
    border: none;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 0 0 10px 10px;
    color: white;
    background-color: var(--orange);
    font-family: var(--opensans);
}
section.icons {
    border-bottom: 2px solid var(--gray);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

section.icons h2{
    font-size: 150%;
}

section.icons p{
    padding-top: 1vh;
    line-height: 2.5vh;
    letter-spacing: 1px;
}

section.icons .item-icons{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: space-between;
}

section.icons i {
    font-size: 300%;
    display: block;
    text-align: center;
    color: var(--gray);
    transition: all 0.7s ease;
    cursor: pointer ;
}

section.icons i:hover{
    color: #FF8B38;
}
